/* Fullscreen tool */
.sf-fullscreen-btn svg {
  display: none;
  margin: 0 !important;
}
.sf-fullscreen-btn-true svg.fullscreen-true,
.sf-fullscreen-btn-false svg.fullscreen-false {
  display: flex;
}